@media (max-width: 600px) {
    .navupload {
        flex-direction: column;
        align-items: center;
    }
    .navupload .item {
        margin-bottom: 20px;
    }
    .navupload .btn-nav-create {
        padding: 3px;
        width: 123px;
        margin-right: 5px;
    }
    .navupload .btn-nav-choice {
        padding: 3px;
    }
    .navupload .nav-item {
        display: grid;
        grid-template-columns: 1fr auto auto;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "a b c" "d d d";
    }
    .navupload a#mygif {
        margin-top: 20px;
        justify-self: center;
    }
    .navsearch {
        height: auto;
        grid-gap: 10px;
        grid-template-columns: 100%;
        grid-template-rows: 25px auto auto;
        grid-template-areas: "title" "input" "button";
    }
    .navsearch .search-item2 {
        margin-left: 0px;
        margin: 5px;
    }
    .navsearch .search-item3 {
        margin-left: 0px;
        margin-right: 0px;
        margin: 10px;
    }
    .section1-gif {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 290px);
    }
    .section1-gif .card .viewmore {
        margin-top: 200px;
    }
    #sectionone > div.section1-gif > div > img {
        height: 88%;
    }
    .section2-gif {
        display: flex;
        flex-flow: column wrap;
        grid-template-areas: none;
    }
    .create_gif {
        min-width: 300px;
        margin-top: 75px;
        width: auto;
        height: auto;
        margin-left: 5px;
        margin-right: 5px;
    }
    .card_paragraph {
        margin-left: 10px;
        margin-right: 10px;
    }
    .card_logo_text {
        margin-left: 10px;
    }
    .card_logo_text h3 {
        font-size: 13px;
        margin-left: 5px;
    }
    .card_paragraph p {
        font-size: 12px;
        margin-top: 10px;
    }
    .card_button_menu {
        justify-content: center;
        margin-top: 28px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10px;
    }
    .card_button_menu button.menu_cancel {
        width: 100px;
        height: 24px;
        font-size: 12px;
    }
    .card_button_menu button.menu_begin {
        width: 100px;
        height: 24px;
        font-size: 12px;
    }
    /**************************Section Upload *************************/
    .menu_create{
        width: auto;
        margin: 5px;
    }
    .captured_gif{
        flex-flow: column wrap;
        justify-content: center;
        width: 96%;
        min-width: 300px;
        height: auto;
        margin: 5px;
    }
 
    .card_video_record{
        justify-content: center;
        width: 94%;
        height: auto;
        align-self: center;
        margin: 5px;
    }
    div.card_video_record > video{
        width: 100%;
        height: auto;

    }
    .card_button_capture{
        justify-content: center;
        margin: 10px;
    }
}

@media (min-width: 601px) and (max-width: 1000px) {
    .section1-gif {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 290px);
        grid-auto-flow: column;
    }
    .section1-gif .card .viewmore {
        margin-top: 210px;
    }
    .section2-gif {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 290px);
        grid-template-areas: "gif0 gif1" 
                            "gif2 gif3" 
                            "gif4 gif5" 
                            "gif6 gif7" 
                            "gif8 gif9"
                            "gif10 gif11" 
                            "gif12 gif13" 
                            "gif14 gif15" 
                            "gif16 gif17" 
                            "gif18 gif19";
    }
    .create_gif {
        margin-top: 75px;
        width: 590px;
    }
    .card_paragraph {
        margin-left: 50px;
    }
}