body{
    background-color: #110038;
}
.head, .navsearch .search-item1, .section1-gif .card .card-gif-title, #sectiontwo > div p.tags_hover , #sectionfour > div  p.tags_hover {
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}
.navupload a#mygif{
    color: #FFFFFF;
}
.dropdown-content {
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}
.navupload #myDropdown .btn-submenu-dark {
    background: #2E32FB;
    border: 1px solid rgba(51,53,143,0.20);
    box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF; 
}
.navupload #myDropdown .btn-submenu-day {
    background: #CCCCCC;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}
.section1-gif .card .viewmore{
    background: #2E32FB;
    border: 1px solid #4C2F99;
    box-shadow: inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF;
}
.navupload .btn-nav-create, .navupload .btn-nav-choice, 
.navupload .btn-nav-image{
    color: #FFFFFF;
    background: #EE3EFE;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}
#themes_content > button.btn-submenu-dark{
    background: #2E32FB;
    border: 1px solid rgba(51,53,143,0.20);
    box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}
i#arrow {
    color: #FFFFFF;
}